<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.BooksDao">
    <!-- 查找所有单词书的类型 -->
	<select id="selAllType" resultType="com.yym.entity.BooksType">
		select * from books_type
	</select>
	<!-- 按单词书所属的类型查找单词书 -->
	<select id="selByType" resultType="com.yym.entity.WordBooks">
		select * from wordbooks where bid=#{bid}	
	</select>
	<!--按id查找单词书  -->
	<select id="selBookById" resultType="com.yym.entity.WordBooks">
		select * from wordbooks where id=#{id}
	</select>
	<!-- 查找全部单词 -->
	<select id="selAllWords" resultType="com.yym.entity.Words">
		select * from ${table_name} where wid between #{start} and #{end}
	</select>
	<!--获取已学单词  -->
	<select id="selLearnedWords" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where status!=0
	</select>
	<!-- 获取收藏的单词 -->
	<select id="selCollectWords" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where collect=1
	</select>
	<!--获取部分已学单词  -->
	<select id="selPartWords" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where status!=0 and id between #{start} and #{end}
	</select>
	<!-- 获取已学习的单词的个数 -->
	<select id="selLearnedCount" parameterType="string" resultType="int">
		select count(*) from ${table_name} where status!=0
	</select>
	<!-- 获取已收藏的单词的个数 -->
	<select id="selCollectCount" parameterType="string" resultType="int"> 
		select count(*) from ${table_name} where collect=1
	</select>
</mapper>