<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.LearningDao">
	<select id="selTableName" parameterType="String" resultType="String">
		select tableName from wordbooks where bookName=#{bookName}
	</select>
	<select id="selWords" parameterType="map" resultType="com.yym.entity.Words" >
		select * from ${table_name} where wid between #{start} and #{end}
	</select>
	<insert id="insWords" parameterType="map">
		insert into ${table_name}(word,us_pron,uk_pron,us_mp3,uk_mp3,explanation,val_ex1,bil_ex1,
		val_ex2,bil_ex2,val_ex3,bil_ex3,collocation,completed,dates) values(#{word},
		#{us_pron},#{uk_pron},#{us_mp3},#{uk_mp3},#{explanation},#{val_ex1},#{bil_ex1},#{val_ex2},#{bil_ex2},
		#{val_ex3},#{bil_ex3},#{collocation},#{completed},#{dates})
	</insert>
</mapper>