<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.LearningDao">
	<select id="selTableName" parameterType="int" resultType="String">
		select tableName from wordbooks where id=#{id}
	</select>
	<!-- 从单词书中选取单词 -->
	<select id="selWords" parameterType="map" resultType="com.yym.entity.Words" >
		select * from ${table_name} where wid between #{start} and #{end}
	</select>
	<!-- 将单词插入到用户单词表 -->
	<insert id="insWords" parameterType="map">
		insert into ${table_name}(id,word,us_pron,uk_pron,us_mp3,uk_mp3,explanation,val_ex1,bil_ex1,
		val_ex2,bil_ex2,val_ex3,bil_ex3,collocation,status,dates,bookid) values(#{id},#{word},
		#{us_pron},#{uk_pron},#{us_mp3},#{uk_mp3},#{explanation},#{val_ex1},#{bil_ex1},#{val_ex2},#{bil_ex2},
		#{val_ex3},#{bil_ex3},#{collocation},#{status},#{dates},#{bookid})
	</insert>
	<!-- 获取用户单词表的count，用来判断是否有数据 -->
	<select id="getCount" parameterType="string" resultType="int">
		select count(*) from ${table_name}
	</select>
	<!-- 从单词表中获取单词，参数为status -->
	<select id="getWords" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where status=#{status} and bookid=#{bookid}
	</select>
	<!-- 设置单词为已学status=0 -->
	<update id="updStatus">
		update ${table_name} set status=#{status} where id=#{id}
	</update>
	<!-- 随机从数据库取三条记录 -->
	<select id="selExplanation" resultType="string">
		SELECT explanation FROM cet4word  WHERE wid >= ((SELECT MAX(wid) FROM cet4word )-(SELECT MIN(wid) FROM user )) * RAND() + (SELECT MIN(wid) FROM cet4word )  LIMIT 3
	</select>
	<!-- 从用户单词表中获取当前status=0的个数 -->
	<select id="selLearningCount" resultType="int">
		select count(*) from ${table_name} where status=0
	</select>
	<!-- 获取需要复习的单词 -->
	<select id="selReview" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where status=1 and <![CDATA[dates!=#{dates,jdbcType=DATE}]]> and bookid=#{bookid}
	</select>
	<select id="selPractise" resultType="com.yym.entity.UserWords">
		select  * from ${table_name} where <![CDATA[status!=2]]> and <![CDATA[dates=#{dates,jdbcType=DATE}]]> and bookid=#{bookid}
	</select>

</mapper>