<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.ReviewDao">
	<select id="getReviewWords" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where <![CDATA[dates=#{dates,jdbcType=DATE}]]>
	</select>
	<select id="getRanExplanation" resultType="string">
		SELECT explanation FROM postgraduateword  WHERE wid >= ((SELECT MAX(wid) FROM postgraduateword )-(SELECT MIN(wid) FROM user )) * RAND() + (SELECT MIN(wid) FROM postgraduateword )  LIMIT 3
	</select>
	<select id="getRanWord" resultType="string">
		SELECT word FROM postgraduateword  WHERE wid >= ((SELECT MAX(wid) FROM postgraduateword )-(SELECT MIN(wid) FROM user )) * RAND() + (SELECT MIN(wid) FROM postgraduateword )  LIMIT 3
	</select>
</mapper>