<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.SearchDao">
	<select id="searchWord" parameterType="string" resultType="com.yym.entity.Words">
		select * from cet4word where word=#{word}
		union
		select * from cet6word where word=#{word}
		union 
		select * from postgraduateword where word=#{word}
	</select>

</mapper>