<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.UserDao">
	<select id="selUser" parameterType="string" resultType="com.yym.entity.User">
		select * from user where openid=#{openid}
	</select>
    <!-- 将用户存进数据库  -->
	<insert id="insUser" parameterType="com.yym.entity.User">
		insert into user(openid,nickName,avatarUrl,gender,province,city) 
		values (#{openid},#{nickName},#{avatarUrl},#{gender},#{province},#{city})
	</insert>
	<!-- 通过openid查找用户的id -->
 	<select id="getUserId" parameterType="String" resultType="int">
		select id from user where openid=#{openid}
	</select> 
	
	<!-- 在personal_data表中新增用户  -->
	<insert id="insPersonalData">
		insert into personal_data(uid,clockInDay,startUseDate) values (#{uid},#{clockInDay},#{startUseDate})
	</insert>
	<!-- 通过用户名查找用户的id -->
 	<select id="getUserIdByName" parameterType="String" resultType="int">
		select id from user where nickName=#{nickName}
	</select> 
	<!--通过用户的id在personal_data表中查找用户信息 -->
	<select id="selPersonalData" parameterType="int" resultType="com.yym.entity.PersonalData">
		select * from personal_data where uid=#{uid}
	</select>
	<update id="setMyBook">
		update personal_data set bookid=#{bookid} where uid=#{uid}
	</update>
	<!-- 更新用户选择的单词书的id -->
	<update id="setMyBookId">
		update user set bookid=#{bookid} where username=#{username}
	</update>
	
	<!-- 更新用户需要学习的单词和学习计划截至日期等信息 -->
	<update id="updPersonalData" parameterType="com.yym.entity.PersonalData">
	 	update personal_data
	 	<trim prefix="set" suffixOverrides=",">
	 		<if test="bookid!=null and bookid!=''">
	 			bookid=#{bookid},
	 		</if>
	 		<if test="clockInDay!=null and clockInDay!=''">
	 			clockInDay=#{clockInDay},
	 		</if>
	 		<if test="completedNum!=null">
	 			completedNum=#{completedNum},
	 		</if>
	 		<if test="haveToLearn!=null">
	 			haveToLearn=#{haveToLearn},
	 		</if>
	 		<if test="haveToReview!=null">
	 			haveToReview=#{haveToReview},
	 		</if>
	 		<if test="endTime!=null">
	 			endTime=#{endTime},
	 		</if>
	 		<if test="startTime!=null">
	 			startTime=#{startTime},
	 		</if>
	 		<if test="learningDay!=null and learningDay!=''">
	 			learningDay=#{learningDay},
	 		</if>
	 		<if test="lastWordId!=null">
	 			lastWordId=#{lastWordId},
	 		</if>
	 		<if test="dayNum!=null and dayNum!=''">
	 			dayNum=#{dayNum}
	 		</if>
	 	</trim>
	 	where uid=#{uid}
	</update>
	
	<update id="createUserWordTable" parameterType="string">
		create table ${tableName} (
			id int(11) not null auto_increment,
			word varchar(255) not null,
			us_pron varchar(255) default null,
			uk_pron varchar(255) default null,
			us_mp3 varchar(255) default null,
			uk_mp3 varchar(255) default null,
			explanation varchar(255) default null,
			val_ex1 varchar(255) default null,
			bil_ex1 varchar(255) default null,
			val_ex2 varchar(255) default null,
			bil_ex2 varchar(255) default null,
			val_ex3 varchar(255) default null,
			bil_ex3 varchar(255) default null,
			collocation varchar(255) default null,
			status int(2) default null,
			dates date default null,
			bookid int(2) not null,
			primary key(id)
		)engine=InnoDB default charset=utf8
	</update>
	<!-- 获取用户当天需要复习的单词量 -->
	<select id="selReviewCount" resultType="int">
		select count(*) from ${table_name} where status=1 and <![CDATA[dates!=#{dates,jdbcType=DATE}]]> and bookid=#{bookid}
	</select>
	<!--获取用户当天需要学习的单词量  -->
	<select id="selLearningCount" resultType="int">
		select count(*) from ${table_name} where status=0 and <![CDATA[dates=#{dates,jdbcType=DATE}]]> and bookid=#{bookid}
	</select>
		<!-- 从单词书中选取单词 -->
	<select id="selWords" parameterType="map" resultType="com.yym.entity.Words" >
		select * from ${table_name} where wid between #{start} and #{end}
	</select>
	<!-- 将单词插入到用户单词表 -->
	<insert id="insWords" parameterType="map">
		insert into ${table_name}(word,us_pron,uk_pron,us_mp3,uk_mp3,explanation,val_ex1,bil_ex1,
		val_ex2,bil_ex2,val_ex3,bil_ex3,collocation,status,dates,bookid) values(#{word},
		#{us_pron},#{uk_pron},#{us_mp3},#{uk_mp3},#{explanation},#{val_ex1},#{bil_ex1},#{val_ex2},#{bil_ex2},
		#{val_ex3},#{bil_ex3},#{collocation},#{status},#{dates},#{bookid})
	</insert>
	<!-- 通过id查找对应的单词书的表名 -->
	<select id="selTableName" parameterType="int" resultType="String">
		select tableName from wordbooks where id=#{id}
	</select>
	<!--//查看dates为当天日期的个数  -->
	<select id="selCountToday" resultType="int">
		select count(*) from ${table_name} where <![CDATA[dates=#{dates,jdbcType=DATE}]]> and bookid=#{bookid}
	</select>
	<!-- 新增打卡记录  -->
	<insert id="insSignRecord" parameterType="com.yym.entity.SignRecord">
		insert into sign_record(uid,sign_date,continue_sign,learned_num) values(#{uid},#{sign_date},#{continue_sign},#{learned_num}) 
	</insert>
	<!-- 查看是否有特定日期的打卡记录 -->
	<select id="selSignRecord" resultType="com.yym.entity.SignRecord">
		select * from sign_record where uid=#{uid} and sign_date=#{sign_date}
	</select>
	<!-- 获取还未学习的单词 -->
	<select id="selNotLearned" resultType="com.yym.entity.UserWords">
		select * from ${table_name} where status=0
	</select>
	<select id="selTodaySign" resultType="com.yym.entity.SignRecord">
		select * from sign_record where uid=#{uid} and <![CDATA[sign_date=#{sign_date,jdbcType=DATE}]]>
	</select>
</mapper>