<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.UserDao">
    <!-- 将用户存进数据库  -->
	<insert id="insUser" parameterType="com.yym.entity.User">
		insert into user(openid,nickName,avatarUrl,gender,province,city) 
		values (#{openid},#{nickName},#{avatarUrl},#{gender},#{province},#{city})
	</insert>
	<!-- 通过openid查找用户的id -->
 	<select id="getUserId" parameterType="String" resultType="int">
		select id from user where openid=#{openid}
	</select> 
	
	<!-- 在personal_data表中新增用户  -->
	<insert id="insPersonalData">
		insert into personal_data(uid,clockInDay,startUseDate) values (#{uid},#{clockInDay},#{startUseDate})
	</insert>
	<!-- 通过用户名查找用户的id -->
 	<select id="getUserIdByName" parameterType="String" resultType="int">
		select id from user where nickName=#{nickName}
	</select> 
	<!--通过用户的id在personal_data表中查找用户信息 -->
	<select id="selPersonalData" parameterType="int" resultType="com.yym.entity.PersonalData">
		select * from personal_data where uid=#{uid}
	</select>
	<update id="setMyBook">
		update personal_data set bookid=#{bookid} where uid=#{uid}
	</update>
	<!-- 更新用户选择的单词书的id -->
	<update id="setMyBookId">
		update user set bookid=#{bookid} where username=#{username}
	</update>
	
	<!-- 更新用户需要学习的单词和学习计划截至日期 -->
	<update id="updPersonalData" parameterType="com.yym.entity.PersonalData">
<!-- 	 	update personal_data set 
	 	haveToLearn=#{haveToLearn},endTime=#{endTime},learningDay=#{learningDay}
	 	where uid=#{uid} -->
	 	update personal_data
	 	<trim prefix="set" suffixOverrides=",">
	 		<if test="bookid!=null and bookid!=''">
	 			bookid=#{bookid},
	 		</if>
	 		<if test="clockInDay!=null and clockInDay!=''">
	 			clockInDay=#{clockInDay},
	 		</if>
	 		<if test="completedNum!=null and completedNum!=''">
	 			completedNum=#{completedNum},
	 		</if>
	 		<if test="haveToLearn!=null and haveToLearn!=''">
	 			haveToLearn=#{haveToLearn},
	 		</if>
	 		<if test="haveToReview!=null and haveToReview!=''">
	 			haveToReview=#{haveToReview},
	 		</if>
	 		<if test="endTime!=null">
	 			endTime=#{endTime},
	 		</if>
	 		<if test="startTime!=null">
	 			startTime=#{startTime},
	 		</if>
	 		<if test="learningDay!=null">
	 			learningDay=#{learningDay},
	 		</if>
	 		<if test="lastWordId!=null and lastWordId!=''">
	 			lastWordId=#{lastWordId},
	 		</if>
	 	</trim>
	 	where uid=#{uid}
	</update>
	
	<update id="createUserWordTable" parameterType="string">
		create table ${tableName} (
			id int(11) not null auto_increment,
			word varchar(255) not null,
			us_pron varchar(255) default null,
			uk_pron varchar(255) default null,
			us_mp3 varchar(255) default null,
			uk_mp3 varchar(255) default null,
			explanation varchar(255) default null,
			val_ex1 varchar(255) default null,
			bil_ex1 varchar(255) default null,
			val_ex2 varchar(255) default null,
			bil_ex2 varchar(255) default null,
			val_ex3 varchar(255) default null,
			bil_ex3 varchar(255) default null,
			collocation varchar(255) default null,
			status int(2) default null,
			dates date default null,
			primary key(id)
		)engine=InnoDB default charset=utf8
	</update>
	<!-- 获取用户选择的单词书的信息 -->
<!-- 	<select id="selBookByUser" parameterType="java.lang.String" resultType="com.yym.entity.WordBooks">
		select * from wordbooks where id=(select bookid from user where username=#{username})
	</select> -->
<!--  	<insert id="insPersonalData">
		insert into personal_data(uid,learningDay,completedNum,haveToLearn,haveToReview,endTime)
		values(#{uid},#{learningDay},#{completedNum},#{haveToLearn},#{haveToReview},#{endTime})
	</insert> -->
</mapper>