<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yym.dao.WordPkDao">
	<update id="updBank">
		update personal_data set bank=#{bank} where uid=#{uid}
	</update>
	<select id="selTable" resultType="String" parameterType="String">
		show tables like #{table_name}
	</select>
	<update id="createUserErrorBook" parameterType="string">
		create table ${table_name} (
			id int(11) not null auto_increment,
			word varchar(255) not null,
			us_pron varchar(255) default null,
			us_mp3 varchar(255) default null,
			explanation varchar(255) default null,
			dates date default null,
			primary key(id)
		)engine=InnoDB default charset=utf8
	</update>
	<insert id="insErrorWord" parameterType="map">
		insert into ${table_name}(word,us_pron,us_mp3,explanation,dates) 
		values(#{word},#{us_pron},#{us_mp3},#{explanation},#{dates})
	</insert>
	<select id="selErrorWords" parameterType="String" resultType="com.yym.entity.ErrorWords">
		select * from ${table_name}
	</select>
</mapper>